/* GLOBAL */

 ::-webkit-scrollbar {
    width: 7px;
}

 ::-webkit-scrollbar-thumb {
    background: #01A0D8;
    border-radius: 10px;
}

body {
    margin: 0;
    font: bolder 11px/1.4 'Open Sans', arial, sans-serif;
    color: white;
}

hr {
    color: white;
}


/* Landing Section */

#home {
    display: flex;
    flex-direction: column;
    height: 680px;
    background: url(../img/01.jpg), #000000;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
}

#navbar {
    position: fixed;
    transition: 1s;
    align-items: center;
}

#logo {
    height: 40px;
    padding: 10px;
    margin: 10px;
    transition: all .3s ease;
    cursor: default;
}

#logo:hover {
    height: 50px;
    padding: 10px;
    margin: 5px;
}

#navigation {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 10px;
}

.nav-item {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font: bolder 11px/1.4 'Open Sans', arial, sans-serif;
}

.nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item:hover:after {
    width: 80%;
    left: 10%;
}

.nav-item:hover {
    color: white;
    text-decoration: none;
}

#hello {
    width: 600px;
    color: white;
    margin: 10px 10px 100px 100px;
    flex-wrap: wrap;
    height: 300px;
}

.hello-text {
    font-weight: bold;
    line-height: 1.3;
}

.hi {
    margin: 0;
    font-size: 48px;
}

.name {
    font-size: 64px;
    margin: 0;
}

.career {
    font-size: 72px;
    margin: 0;
}

.list-inline {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 250px;
}

.social {
    color: white;
    transition: all .3s ease;
}

i {
    font-size: 25px;
}


/* ABOUT */

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(179.9deg, #000000 0.09%, #01008A 21.59%);
}

#about-section-left {
    display: flex;
    flex-direction: column;
    margin: 200px auto auto 100px;
    width: 50%;
    color: #fff;
}

.section-margin {
    margin: 20px 0;
}

.headline {
    width: 350px;
}

.headline-text {
    font-weight: bolder;
    font-size: 48px;
}

#bio,
#bio2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px 30px 30px 0;
    font-weight: normal;
    font-size: 21px;
}

#about-section-right {
    bottom: 0;
    margin: 200px 0px 0 0;
    width: 50%;
}

#Mars {
    bottom: 0;
}


/* EXPERINCE */

#exp {
    padding: 200px 100px 100px;
    display: flex;
    flex-direction: row;
    background: #000000;
    align-items: center;
    justify-content: space-between;
}

#exp-section-left {
    display: flex;
    flex-direction: column;
    color: #fff;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

.skill-flex {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skill-flex-item {
    margin: 30px 0;
}

.skill-flex-text {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vl {
    margin: 0 25px 0 35px;
    height: 400px;
    border-right: 1px solid white;
}

#exp-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

.otherskills {
    color: white;
    font: bolder 'Open Sans', arial, sans-serif;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

#skill-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 150px;
}


/* flip card */

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #000;
    color: black;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    background-color: #01008A;
    border-radius: 5px;
    color: white;
    transform: rotateY(180deg);
    justify-content: space-around;
    font: bold 11px/1.4 'Open Sans', arial, sans-serif;
}

.skill-name {
    font-weight: bolder;
}

#postgre {
    font-size: 33px;
}

#python {
    font-size: 30px;
    font-weight: bolder;
}

#wordpress {
    line-height: 27px;
}

#solidworks {
    line-height: 35px;
}


/* works */


/* slide show */

.slider {
    width: 666px;
    height: 500px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.slides {
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    transition: 2s;
}

.slide img {
    width: 666px;
    height: 500px;
}


/* manual slide navigation */

.navigation-manual {
    position: absolute;
    width: 666px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid rgb(59, 70, 80);
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: .8s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(0, 0, 0);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -666px;
}

#radio3:checked~.first {
    margin-left: -1332px;
}

#works {
    color: white;
    display: flex;
    padding: 200px 100px 100px 100px;
    justify-content: space-between;
    background: linear-gradient(283.55deg, #01008A 0%, #0169F0 100%);
}

#work-flex {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#text-contain {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.previous-works {
    min-width: 400px;
    width: 400px;
    transition: .8s;
}


/* Contact */

#contact {
    color: white;
    background-color: #20202B;
    padding: 50px 75px 100px 100px;
    display: flex;
    justify-content: space-between;
    font: bolder 11px/1.4 'Open Sans', arial, sans-serif;
}

.contact h2 {
    font-size: 25px;
}

.contact a,
.contact h3 {
    color: rgb(4, 164, 228);
    font-size: 18px;
    text-decoration: none;
    margin-top: 11px;
}

@media (max-width:1250px) {
    #navbar {
        width: 110%;
    }
    #home,
    #about,
    #exp,
    #works,
    #contact {
        margin-left: -75px;
    }
}

@media (max-width:1175px) {
    #navbar {
        width: 110%;
    }
    #exp {
        flex-direction: column;
        margin-left: 0;
        padding-left: 25px;
        align-items: stretch;
    }
    .skill-flex-text {
        width: inherit;
    }
    .vl {
        display: none;
    }
    #skill-grid {
        grid-template-columns: repeat(auto-fill);
    }
    #works {
        flex-direction: column;
    }
}

@media (max-width:843px) {
    #navbar {
        height: 100px;
        overflow: hidden;
        width: 120%;
    }
    #hello {
        width: 466px;
    }
    .career {
        font-size: 64px;
    }
    #exp {
        flex-direction: column;
        margin-left: 0;
        padding-left: 25px;
        align-items: stretch;
    }
    .skill-flex-text {
        width: inherit;
    }
    .vl {
        display: none;
    }
    #skill-grid {
        grid-template-columns: repeat(auto-fill);
    }
    #works {
        flex-direction: column;
    }
    .slider {
        width: 500px;
        height: 408px;
    }
    .slide img {
        width: 500px;
        height: 408px;
    }
    .navigation-manual {
        width: 408px;
    }
    #about {
        flex-direction: column;
        margin-left: -75px;
        align-items: center;
    }
    #bio,
    #bio2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 20px 30px 30px 0;
        font-weight: normal;
        min-width: 400px;
    }
    #about-section-right {
        margin: 0;
    }
    #contact {
        flex-direction: column;
        margin-left: -75px;
    }
}

@media (max-width:500px) {
    .headline {
        width: 300px;
    }
    #home {
        margin-left: -75px;
        height: 500px;
        width: inherit;
    }
    #space {
        width: 25px;
    }
    #hello {
        height: auto;
        width: 280px;
        margin-bottom: 25px;
    }
    .hi {
        font-size: 24px;
        display: inline-block;
    }
    .name {
        font-size: 24px;
        display: inline-block;
    }
    .career {
        font-size: 36px;
    }
    .list-inline {
        width: 200px;
    }
    i {
        font-size: 18px;
    }
    #about,
    #exp {
        flex-direction: column;
        margin-left: -75px;
        align-items: center;
    }
    .headline-text {
        font-size: 36px;
    }
    #bio,
    #bio2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 20px 30px 30px 0;
        font-weight: normal;
        font-size: 14px;
        min-width: 300px;
    }
    #about-section-right {
        margin: 0;
    }
    #Mars {
        margin: 0;
        width: 250px;
    }
    #exp {
        flex-direction: column;
        align-items: stretch;
        margin-left: 0px;
    }
    .skill-flex-text {
        width: inherit;
    }
    .vl {
        display: none;
    }
    #skill-grid {
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: repeat(2, 150px);
        margin-left: 50px;
    }
    #works {
        flex-direction: column;
        margin-left: 0px;
        padding: 25px;
        align-items: stretch;
    }
    .slider {
        width: 306px;
        height: 250px;
    }
    .slide img {
        width: 306px;
        height: 250px;
    }
    .navigation-manual {
        width: 306px;
    }
    #work-flex {
        width: 300px;
    }
    .previous-works {
        min-width: 300px;
        width: 300px;
    }
    #radio2:checked~.first {
        margin-left: -306px;
    }
    #radio3:checked~.first {
        margin-left: -612px;
    }
    #contact {
        flex-direction: column;
        margin-left: -75px;
    }
    #navigation {
        display: none;
    }
    #navbar {
        width: 120%;
        height: 100px;
        overflow: hidden;
    }
}